body {
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align: center;

}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}


.square {
    width: 200px;
    height: 200px;
}

.top-container {
    background-color: #E3F6FF;
    padding-top: 100px;
    position: relative;
    /* border: 10px solid;
    padding: 20px; */
}

.middle-container {
    margin: 20px 0 20px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 20px;
}


.bottom-cloud {
    position: absolute;
    left: 300px;
    /* bottom: 350px; */
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 10px;
}

.mountain {
    margin-top: 150px;
}

a{
    color: #11999E;
}

a:hover{
    color: #EAF6F6;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skill1-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

/* .skill1-desc{
    clear: left;
} */

.skill2-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

/* .skill2-desc{
    clear: right;
} */

.intro-text{
    color: #40514E;
    width: 30%;
    margin: auto;
}

/* .profile-img{
    margin-top: 20px;
} */

hr{
    border: none;
    border-top: 6px dotted #EAF6F6 ;
    width: 5%;
    height: 0;
    margin: 50px auto 50px auto;
}

.contact-me{
    margin-bottom: 50px;
}

.contact-btn{
    margin-top: 50px;
    border-radius: 8px;
    background-image: linear-gradient(#11cdd4, #11999e);
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
}
.contact-btn:hover{
    background-image: linear-gradient(#30e3cb, #2bc4ad);
}

.footer-link{
    margin: auto 20px auto 20px;
    text-decoration: none;
    color: #11999E;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0 20px 0;
}

.contact-text{
    margin: 50px auto 0 auto;
}

.span{
    text-decoration: underline;
}

p{
    font-weight: bolder;
    line-height: 2;
}